@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Caveat&family=Comforter+Brush&family=Creepster&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Kalam:wght@300&family=Libre+Bodoni&family=Nothing+You+Could+Do&family=Shadows+Into+Light&display=swap');
/*
font-family: 'Averia Sans Libre', cursive;
font-family: 'Caveat', cursive;
font-family: 'Comforter Brush', cursive;
font-family: 'Creepster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Kalam', cursive;
font-family: 'Libre Bodoni', serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Shadows Into Light', cursive;
*/
.pagenotfount {
  font-family: 'Nothing You Could Do', cursive;
}

.news-card-heading {
  overflow: hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.news-card-description {
  overflow: hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}