@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter+Brush&family=Creepster&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Kalam:wght@300&family=Nothing+You+Could+Do&family=Shadows+Into+Light&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Comforter Brush', cursive;
font-family: 'Creepster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Shadows Into Light', cursive; 
font-family: 'Kalam', cursive;
*/
.logo{
    font-family: 'Caveat', cursive;

}
.pagenotfound h2 {
    font-family: 'Creepster', cursive;
}

.pagenotfound p {
    font-family: 'Kalam', cursive;
}

.pagenotfound a {
    font-family: 'Nothing You Could Do', cursive;
}