@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(78.8% 78.8% at 50% 21.2%, #003979 0%, #012146 64.61%, #00162F 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReactModal__Overlay {
  background-color: #ffffff33 !important;
}

.ReactModal__Content {
  top: 35% !important;
  left: 30% !important;
  transform: translate(-20%, -20%); 
  right: "auto";
  bottom: "auto";
}

/* width */
.ReactModal__Content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ReactModal__Content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.ReactModal__Content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.ReactModal__Content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
